{
    "plugins": ["prettier-plugin-organize-imports"],
    "semi": true,
    "singleQuote": false,
    "useTabs": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
